{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "API for using the Azure IoT Hub Device Provisioning Service features.",
        "title": "iotDpsClient",
        "version": "2017-11-15",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-ms-code-generation-settings": {
            "host": "management.azure.com"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/provisioningservices/resource-manager/Microsoft.Devices/stable/2017-11-15/iotdps.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "provisioningservices-iotdps",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.Devices/operations": {
            "get": {
                "description": "Lists all of the available Microsoft.Devices REST API operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of the request to list IoT Hub operations. It contains a list of operations and a URL link to get the next set of results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of operation list results if there are any.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of IoT Hub operations supported by the Microsoft.Devices resource provider.",
                                            "items": {
                                                "description": "IoT Hub REST API operation.",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that represents the operation.",
                                                        "properties": {
                                                            "operation": {
                                                                "description": "Name of the operation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Service provider: Microsoft Devices.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Resource Type: ProvisioningServices.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{read | write | action | delete}",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error details.",
                                    "properties": {
                                        "Code": {
                                            "description": "The error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Details": {
                                            "description": "The error details.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "HttpStatusCode": {
                                            "description": "The HTTP status code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Message": {
                                            "description": "The error message.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operations"
                ],
                "x-ms-examples": {
                    "DPSOperations": {
                        "parameters": {
                            "api-version": "2017-11-15"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "display": {
                                                "description": "Register the subscription for the IotHub resource provider and enables the creation of IotHub resources",
                                                "operation": "Register Resource Provider",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/register/action"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the diagnostic setting for the resource",
                                                "operation": "Get Diagnostic Setting",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/IotHubs/diagnosticSettings/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Creates or updates the diagnostic setting for the resource",
                                                "operation": "Set Diagnostic Setting",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/IotHubs/diagnosticSettings/write"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the available metrics for the IotHub service",
                                                "operation": "Read IotHub service metric definitions",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/IotHubs/metricDefinitions/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the available log definitions for the IotHub Service",
                                                "operation": "Read IotHub service log definitions",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/IotHubs/logDefinitions/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Get All ResourceProvider Operations",
                                                "operation": "Get All ResourceProvider Operations",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/operations/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Check If IotHub name is available",
                                                "operation": "Check If IotHub name is available",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/checkNameAvailability/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Get subscription usage details for this provider.",
                                                "operation": "Get Subscription Usages",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/usages/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the IotHub resource(s)",
                                                "operation": "Get IotHub(s)",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Create or update IotHub Resource",
                                                "operation": "Create or update IotHub Resource",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/Write"
                                        },
                                        {
                                            "display": {
                                                "description": "Delete IotHub Resource",
                                                "operation": "Delete IotHub Resource",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/Delete"
                                        },
                                        {
                                            "display": {
                                                "description": "Get IotHub Statistics",
                                                "operation": "Get IotHub Statistics",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/iotHubStats/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Get valid IotHub Skus",
                                                "operation": "Get valid IotHub Skus",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/skus/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Get all IotHub Keys",
                                                "operation": "Get all IotHub Keys",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/listkeys/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Get IotHub Key for the given name",
                                                "operation": "Get IotHub Key for the given name",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/iotHubKeys/listkeys/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Create EventHub Consumer Group",
                                                "operation": "Create EventHub Consumer Group",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Write"
                                        },
                                        {
                                            "display": {
                                                "description": "Get EventHub Consumer Group(s)",
                                                "operation": "Get EventHub Consumer Group(s)",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Delete EventHub Consumer Group",
                                                "operation": "Delete EventHub Consumer Group",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Delete"
                                        },
                                        {
                                            "display": {
                                                "description": "Export Devices",
                                                "operation": "Export Devices",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/exportDevices/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Import Devices",
                                                "operation": "Import Devices",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/importDevices/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Get Job(s) details submitted on given IotHub",
                                                "operation": "Get the Job(s) on IotHub",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/jobs/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Get Quota Metrics",
                                                "operation": "Get Quota Metrics",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/quotaMetrics/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Test a message against all existing Routes",
                                                "operation": "Routing Rule Test All",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/routing/routes/$testall/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Test a message against a provided test Route",
                                                "operation": "Routing Rule Test Route",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/routing/routes/$testnew/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the health of all routing Endpoints for an IotHub",
                                                "operation": "Get Endpoint Health",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/iotHubs/routingEndpointsHealth/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the diagnostic setting for the resource",
                                                "operation": "Get Diagnostic Setting",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/ProvisioningServices/diagnosticSettings/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Creates or updates the diagnostic setting for the resource",
                                                "operation": "Set Diagnostic Setting",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/ProvisioningServices/diagnosticSettings/write"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the available metrics for the DPS service",
                                                "operation": "Read DPS service metric definitions",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/ProvisioningServices/metricDefinitions/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets the available log definitions for the DPS Service",
                                                "operation": "Read DPS service log definitions",
                                                "provider": "Microsoft Devices",
                                                "resource": "IotHubs"
                                            },
                                            "name": "Microsoft.Devices/ProvisioningServices/logDefinitions/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Check If Provisioning Service name is available",
                                                "operation": "Check If Provisioning Service name is available",
                                                "provider": "Microsoft Devices",
                                                "resource": "ProvisioningServives"
                                            },
                                            "name": "Microsoft.Devices/checkProvisioningServiceNameAvailability/Action"
                                        },
                                        {
                                            "display": {
                                                "description": "Get Provisioning Service resource",
                                                "operation": "Get Provisioning Service resource",
                                                "provider": "Microsoft Devices",
                                                "resource": "ProvisioningServices"
                                            },
                                            "name": "Microsoft.Devices/provisioningServices/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "Create Provisioning Service resource",
                                                "operation": "Create Provisioning Service resource",
                                                "provider": "Microsoft Devices",
                                                "resource": "ProvisioningServices"
                                            },
                                            "name": "Microsoft.Devices/provisioningServices/Write"
                                        },
                                        {
                                            "display": {
                                                "description": "Delete Provisioning Service resource",
                                                "operation": "Delete Provisioning Service resource",
                                                "provider": "Microsoft Devices",
                                                "resource": "ProvisioningServices"
                                            },
                                            "name": "Microsoft.Devices/provisioningServices/Delete"
                                        },
                                        {
                                            "display": {
                                                "description": "Delete Provisioning Service resource",
                                                "operation": "Delete Provisioning Service resource",
                                                "provider": "Microsoft Devices",
                                                "resource": "ProvisioningServices"
                                            },
                                            "name": "Microsoft.Devices/provisioningServices/skus/Read"
                                        },
                                        {
                                            "display": {
                                                "description": "get security related metadata",
                                                "operation": "get security related metadata",
                                                "provider": "Microsoft Devices",
                                                "resource": "ProvisioningServices"
                                            },
                                            "name": "Microsoft.Devices/provisioningServices/listkeys/Action"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability": {
            "post": {
                "description": "Check if a provisioning service name is available. This will validate if the name is syntactically valid and if the name is usable",
                "operationId": "IotDpsResource_CheckProvisioningServiceNameAvailability",
                "parameters": [
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the provisioning service name is available. If the name is not available, the body contains the reason.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Description of name availability.",
                                    "properties": {
                                        "message": {
                                            "description": "message containing a etailed reason name is unavailable",
                                            "type": "string"
                                        },
                                        "nameAvailable": {
                                            "description": "specifies if a name is available or not",
                                            "type": "boolean"
                                        },
                                        "reason": {
                                            "description": "specifies the reason a name is unavailable",
                                            "enum": [
                                                "Invalid",
                                                "AlreadyExists"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "NameUnavailabilityReason"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error details.",
                                    "properties": {
                                        "Code": {
                                            "description": "The error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Details": {
                                            "description": "The error details.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "HttpStatusCode": {
                                            "description": "The HTTP status code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Message": {
                                            "description": "The error message.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Check if a provisioning service name is available.",
                "tags": [
                    "POST"
                ],
                "x-ms-examples": {
                    "DPSCheckName": {
                        "parameters": {
                            "api-version": "2017-11-15",
                            "arguments": {
                                "name": "test213123"
                            },
                            "subscriptionId": "91d12660-3dec-467a-be2a-213b5544ddc0"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "message": "name is valid",
                                    "nameAvailable": true,
                                    "reason": "Invalid"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input values for operation results call.",
                                "properties": {
                                    "name": {
                                        "description": "The name of the Provisioning Service to check.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Set the name parameter in the OperationInputs structure to the name of the provisioning service to check.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/provisioningServices": {
            "get": {
                "description": "List all the provisioning services for a given subscription id.",
                "operationId": "IotDpsResource_ListBySubscription",
                "parameters": [
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the provisioning services in the subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of provisioning service descriptions.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "the next link",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of provisioning service descriptions.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The common properties of an Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The resource identifier.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The resource name.",
                                                                "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The description of the provisioning service.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Service specific properties for a provisioning service",
                                                        "properties": {
                                                            "allocationPolicy": {
                                                                "description": "Allocation policy to be used by this provisioning service.",
                                                                "enum": [
                                                                    "Hashed",
                                                                    "GeoLatency",
                                                                    "Static"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "AllocationPolicy"
                                                                }
                                                            },
                                                            "authorizationPolicies": {
                                                                "description": "List of authorization keys for a provisioning service.",
                                                                "items": {
                                                                    "description": "Description of the shared access key.",
                                                                    "properties": {
                                                                        "keyName": {
                                                                            "description": "Name of the key.",
                                                                            "type": "string"
                                                                        },
                                                                        "primaryKey": {
                                                                            "description": "Primary SAS key value.",
                                                                            "type": "string"
                                                                        },
                                                                        "rights": {
                                                                            "description": "Rights that this key has.",
                                                                            "enum": [
                                                                                "ServiceConfig",
                                                                                "EnrollmentRead",
                                                                                "EnrollmentWrite",
                                                                                "DeviceConnect",
                                                                                "RegistrationStatusRead",
                                                                                "RegistrationStatusWrite"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": true,
                                                                                "name": "AccessRightsDescription"
                                                                            }
                                                                        },
                                                                        "secondaryKey": {
                                                                            "description": "Secondary SAS key value.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "keyName",
                                                                        "rights"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "deviceProvisioningHostName": {
                                                                "description": "Device endpoint for this provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "idScope": {
                                                                "description": "Unique identifier of this provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "iotHubs": {
                                                                "description": "List of IoT hubs assosciated with this provisioning service.",
                                                                "items": {
                                                                    "description": "Description of the IoT hub.",
                                                                    "properties": {
                                                                        "allocationWeight": {
                                                                            "description": "weight to apply for a given iot h.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "applyAllocationPolicy": {
                                                                            "description": "flag for applying allocationPolicy or not for a given iot hub.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "connectionString": {
                                                                            "description": "Connection string og the IoT hub.",
                                                                            "type": "string"
                                                                        },
                                                                        "location": {
                                                                            "description": "ARM region of the IoT hub.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "Host name of the IoT hub.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "connectionString",
                                                                        "location"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The ARM provisioning state of the provisioning service.",
                                                                "type": "string"
                                                            },
                                                            "serviceOperationsHostName": {
                                                                "description": "Service endpoint for provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "description": "Current state of the provisioning service.",
                                                                "enum": [
                                                                    "Activating",
                                                                    "Active",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "ActivationFailed",
                                                                    "DeletionFailed",
                                                                    "Transitioning",
                                                                    "Suspending",
                                                                    "Suspended",
                                                                    "Resuming",
                                                                    "FailingOver",
                                                                    "FailoverFailed"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "state"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "Sku info for a provisioning Service.",
                                                        "properties": {
                                                            "capacity": {
                                                                "description": "The number of units to provision",
                                                                "format": "int64",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "Sku name.",
                                                                "enum": [
                                                                    "S1"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "IotDpsSku"
                                                                }
                                                            },
                                                            "tier": {
                                                                "description": "Pricing tier name of the provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "sku",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error details.",
                                    "properties": {
                                        "Code": {
                                            "description": "The error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Details": {
                                            "description": "The error details.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "HttpStatusCode": {
                                            "description": "The HTTP status code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Message": {
                                            "description": "The error message.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Get all the provisioning services in a subscription.",
                "tags": [
                    "GET"
                ],
                "x-ms-examples": {
                    "DPSListBySubscription": {
                        "parameters": {
                            "api-version": "2017-11-15",
                            "subscriptionId": "91d12660-3dec-467a-be2a-213b5544ddc0"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "etag": "AAAAAAAADGk=",
                                            "id": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServices/myFirstProvisioningService",
                                            "location": "eastus",
                                            "name": "myFirstProvisioningService",
                                            "properties": {
                                                "allocationPolicy": "Hashed",
                                                "deviceProvisioningHostName": "global.azure-devices-provisioning.net",
                                                "idScope": "0ne00000012",
                                                "serviceOperationsHostName": "myFirstProvisioningService.azure-devices-provisioning.net",
                                                "state": "Active"
                                            },
                                            "sku": {
                                                "capacity": 1,
                                                "name": "S1",
                                                "tier": "Standard"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Devices/ProvisioningServices"
                                        },
                                        {
                                            "etag": "AAAAAAAADGk=",
                                            "id": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServices/mySecondProvisioningService",
                                            "location": "eastus",
                                            "name": "mySecondProvisioningService",
                                            "properties": {
                                                "allocationPolicy": "Hashed",
                                                "deviceProvisioningHostName": "global.azure-devices-provisioning.net",
                                                "idScope": "0ne00000012",
                                                "serviceOperationsHostName": "myFirstProvisioningService.azure-devices-provisioning.net",
                                                "state": "Active"
                                            },
                                            "sku": {
                                                "capacity": 1,
                                                "name": "S1",
                                                "tier": "Standard"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Devices/ProvisioningServices"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices": {
            "get": {
                "description": "Get a list of all provisioning services in the given resource group.",
                "operationId": "IotDpsResource_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group identifier.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of provisioning services in the resource group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of provisioning service descriptions.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "the next link",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of provisioning service descriptions.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The common properties of an Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The resource identifier.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The resource name.",
                                                                "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The description of the provisioning service.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Service specific properties for a provisioning service",
                                                        "properties": {
                                                            "allocationPolicy": {
                                                                "description": "Allocation policy to be used by this provisioning service.",
                                                                "enum": [
                                                                    "Hashed",
                                                                    "GeoLatency",
                                                                    "Static"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "AllocationPolicy"
                                                                }
                                                            },
                                                            "authorizationPolicies": {
                                                                "description": "List of authorization keys for a provisioning service.",
                                                                "items": {
                                                                    "description": "Description of the shared access key.",
                                                                    "properties": {
                                                                        "keyName": {
                                                                            "description": "Name of the key.",
                                                                            "type": "string"
                                                                        },
                                                                        "primaryKey": {
                                                                            "description": "Primary SAS key value.",
                                                                            "type": "string"
                                                                        },
                                                                        "rights": {
                                                                            "description": "Rights that this key has.",
                                                                            "enum": [
                                                                                "ServiceConfig",
                                                                                "EnrollmentRead",
                                                                                "EnrollmentWrite",
                                                                                "DeviceConnect",
                                                                                "RegistrationStatusRead",
                                                                                "RegistrationStatusWrite"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": true,
                                                                                "name": "AccessRightsDescription"
                                                                            }
                                                                        },
                                                                        "secondaryKey": {
                                                                            "description": "Secondary SAS key value.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "keyName",
                                                                        "rights"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "deviceProvisioningHostName": {
                                                                "description": "Device endpoint for this provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "idScope": {
                                                                "description": "Unique identifier of this provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "iotHubs": {
                                                                "description": "List of IoT hubs assosciated with this provisioning service.",
                                                                "items": {
                                                                    "description": "Description of the IoT hub.",
                                                                    "properties": {
                                                                        "allocationWeight": {
                                                                            "description": "weight to apply for a given iot h.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "applyAllocationPolicy": {
                                                                            "description": "flag for applying allocationPolicy or not for a given iot hub.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "connectionString": {
                                                                            "description": "Connection string og the IoT hub.",
                                                                            "type": "string"
                                                                        },
                                                                        "location": {
                                                                            "description": "ARM region of the IoT hub.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "Host name of the IoT hub.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "connectionString",
                                                                        "location"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The ARM provisioning state of the provisioning service.",
                                                                "type": "string"
                                                            },
                                                            "serviceOperationsHostName": {
                                                                "description": "Service endpoint for provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "description": "Current state of the provisioning service.",
                                                                "enum": [
                                                                    "Activating",
                                                                    "Active",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "ActivationFailed",
                                                                    "DeletionFailed",
                                                                    "Transitioning",
                                                                    "Suspending",
                                                                    "Suspended",
                                                                    "Resuming",
                                                                    "FailingOver",
                                                                    "FailoverFailed"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "state"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "Sku info for a provisioning Service.",
                                                        "properties": {
                                                            "capacity": {
                                                                "description": "The number of units to provision",
                                                                "format": "int64",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "Sku name.",
                                                                "enum": [
                                                                    "S1"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "IotDpsSku"
                                                                }
                                                            },
                                                            "tier": {
                                                                "description": "Pricing tier name of the provisioning service.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "sku",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error details.",
                                    "properties": {
                                        "Code": {
                                            "description": "The error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Details": {
                                            "description": "The error details.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "HttpStatusCode": {
                                            "description": "The HTTP status code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Message": {
                                            "description": "The error message.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "GET"
                ],
                "x-ms-examples": {
                    "DPSListByResourceGroup": {
                        "parameters": {
                            "api-version": "2017-11-15",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "91d12660-3dec-467a-be2a-213b5544ddc0"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "etag": "AAAAAAAADGk=",
                                            "id": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServices/myFirstProvisioningService",
                                            "location": "eastus",
                                            "name": "myFirstProvisioningService",
                                            "properties": {
                                                "allocationPolicy": "Hashed",
                                                "deviceProvisioningHostName": "global.azure-devices-provisioning.net",
                                                "idScope": "0ne00000012",
                                                "serviceOperationsHostName": "myFirstProvisioningService.azure-devices-provisioning.net",
                                                "state": "Active"
                                            },
                                            "sku": {
                                                "capacity": 1,
                                                "name": "S1",
                                                "tier": "Standard"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Devices/ProvisioningServices"
                                        },
                                        {
                                            "etag": "AAAAAAAADGk=",
                                            "id": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServices/mySecondProvisioningService",
                                            "location": "eastus",
                                            "name": "mySecondProvisioningService",
                                            "properties": {
                                                "allocationPolicy": "Hashed",
                                                "deviceProvisioningHostName": "global.azure-devices-provisioning.net",
                                                "idScope": "0ne00000012",
                                                "serviceOperationsHostName": "mySecondProvisioningService.azure-devices-provisioning.net",
                                                "state": "Active"
                                            },
                                            "sku": {
                                                "capacity": 1,
                                                "name": "S1",
                                                "tier": "Standard"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Devices/ProvisioningServices"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}": {
            "delete": {
                "description": "Deletes the Provisioning Service.",
                "operationId": "IotDpsResource_Delete",
                "parameters": [
                    {
                        "description": "Name of provisioning service to delete.",
                        "in": "path",
                        "name": "provisioningServiceName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group identifier.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state."
                    },
                    "202": {
                        "description": "The provisioning service resource provider always returns a 202 Accepted status code with valid Location and Retry-After headers. The resource provider also sets the Azure-AsyncOperation header with a URL that points to the operation resource for this operation. Subsequent GET attempts on the resource after a DELETE operation return a resource representation that indicates a transitional provisioning state (such as Terminating). To retrieve the status of the operation, a client can either poll the URL returned in the Location header after the Retry-After interval, get the provisioning service status directly, or query the operation resource."
                    },
                    "204": {
                        "description": "Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the provisioning service metadata in the service and the status of the delete operation is set to a completed state."
                    },
                    "404": {
                        "description": "After the long running delete operation completes successfully, a 404 Not Found is returned when the status polling request no longer finds the provisioning service metadata in the service."
                    },
                    "default": {
                        "description": "Default error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error details.",
                                    "properties": {
                                        "Code": {
                                            "description": "The error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Details": {
                                            "description": "The error details.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "HttpStatusCode": {
                                            "description": "The HTTP status code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "Message": {
                                            "description": "The error message.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete the Provisioning Service",
                "tags": [
                    "DELETE"
                ],
                "x-ms-examples": {
                    "DPSDelete": {
                        "parameters": {
                            "api-version": "2017-11-15",
                            "provisioningServiceName": "myFirstProvisioningService",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "91d12660-3dec-467a-be2a-213b5544ddc0"
                        },
                        "responses": {
                            "200": {},
                            "202": {},
                            "204": {},
                            "404": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Get the metadata of the provisioning service without SAS keys.",
                "operationId": "IotDpsResource_Get",
                "parameters": [
                    {
                        "description": "Name of the provisioning service to retrieve.",
                        "in": "path",
                        "name": "provisioningServiceName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Provisioning service description with no keys is included in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The common properties of an Azure resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The resource identifier.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
[...]
